ETHEREUM_MNEMONIC=Your Ethereum mnemonic here
ROPSTEN_MNEMONIC=Your Ropsten mnemonic here
RINKEBY_MNEMONIC=Your Rinkeby mnemonic here
TOMOCHAIN_MNEMONIC=Your Tomochain mainnet mnemonic here
TOMOCHAIN_TESTNET_MNEMONIC=Your Tomochain testnet mnemonic here
